# Allowlist: everything is ignored by default except the files actually
# published on GitHub Pages. Add new "!" rules here when new pages go live.
/*
!/.gitignore
!/index.html
!/Radio
/Radio/*
!/Radio/index.html
!/Radio/radio-v2.html
!/Radio/inside.html
!/Radio/monochrome.hdr
!/Radio/Thought Audio.wav
!/Radio/I am not good enough.wav
!/Radio/I am not good enough pitch.wav
!/Radio/I am not good enough mix pitch robot.wav
!/Radio/brain_in_a_jar.glb
!/Radio/Circuitboard.glb
!/Radio/thesis-experience.html
!/Radio/Example Thought Video.mp4
!/Radio/ACT model.png
!/Radio/abletonlogo.png
